
<div id="header-body" style="background-image: linear-gradient(rgb(31, 226, 252),rgb(0, 187, 78));">
    
    <h1><i class="fab fa-snapchat"></i>FunChat</h1> 

    
    <ul>
        <li><i class="fas fa-home"></i></li>
        <li><i class="fas fa-comments"></i></li>
        <li><i class="fas fa-bell"></i></li>
        <li><i class="fas fa-users"></i></li>
        <li><i class="fas fa-user-cog"></i></li>
    </ul>
    <ul>
        <% if (locals.user){ %>
            <li>
                <button type="button">
                    <a href="/user/profile">
                        <%= user.name %>
                    </a>
                </button>
            </li>
            <li>
                <button type="button">
                    <a href="/user/signOut">Sign Out</a>
                </button>
            </li>
        <% }else{ %>
            <button type="button">
                <li>
                    <a href="/user/signIn">Sign In</a>
                </li>
            </button>
            <button type="button">
                <li>
                    <a href="/user/signUp">Sign Up</a>
                </li>
            </button>


        <% } %>
    </ul>

    <input type="text" placeholder="type here to search">
    <button><i class="fas fa-search"></i> Search</button>
    
</div>