

<h1>Sign In</h1>
<form action="/user/create-session" method="POST">
    <input type="email" name="email" placeholder="Email*" required>
    <input type="password" name="password" placeholder="Password*" required>
    <button value="sign in">Sign In</button>
</form>
<a href="/user/signUp">Sign Up</a>


